<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intelwalk.babytracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TemperatureInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.TemperatureInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DiaperInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.DiaperInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CryingInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.CryingInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".FeedingInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.FeedingInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BreathingMonitorInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.BreathingMonitorInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".SleepingInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.SleepingInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".BathingInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.BathingInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportMain"></activity>
    </application>

</manifest>