<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intelwalk.babytracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TemperatureInput">
            <intent-filter>
                <action android:name="com.intelwalk.babytracker.TemperatureInput" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DiaperInput" />
        <activity android:name=".CryingInput" />
        <activity android:name=".FeedingInput" />
        <activity android:name=".BreathingMonitorInput" />
        <activity android:name=".SleepingInput" />
        <activity android:name=".BathingInput"></activity>
    </application>

</manifest>